@media (max-width:500px)
{
    .header  {grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;}
   
   .header .nav {display: none;}
   

.content
{
    grid-template-columns: 1fr;
   

}

.content .text
{
    grid-template-columns: 1fr;
}
.content button
{
padding: 0px;
    margin-top: 60px;
   
         
}

.display
{
    grid-template-columns: 1fr;
    grid-gap:20px;
}


.handmade
{
    grid-template-columns: 5fr;
    padding: 20px
    20px;
    margin: 10px; 
    grid-gap: 20px;
 }

.another
{

    grid-template-columns: 5fr 5fr;
    padding: 200px 20px;
    margin: 10px;
    margin-top: 200px;
    grid-gap: 20px;
   

} 
}